In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn; seaborn.set()

In [4]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
print data['Sex'].value_counts()
answer1 = str(data['Sex'].value_counts()[0]) + ' ' + str(data['Sex'].value_counts()[1])
print  answer1
f = open('answer1.txt', 'w')
f.write(answer1)
f.close()

male      577
female    314
Name: Sex, dtype: int64
577 314

In [38]:
print data['Survived'].value_counts()
all_p = data['Survived'].value_counts()[0] + data['Survived'].value_counts()[1]
surv_d = data['Survived'].value_counts()[1] / all_p.astype(float) * 100
unsurv_d = data['Survived'].value_counts()[0] / all_p.astype(float) * 100
print all_p
print surv_d.round(2)
print unsurv_d.round(2)

answer2 = str(surv_d.round(2))
print  answer2
f = open('answer2.txt', 'w')
f.write(answer2)
f.close()

0    549
1    342
Name: Survived, dtype: int64
891
38.38
61.62
38.38

In [44]:
print data['Pclass'].value_counts()
all_pc = data['Pclass'].count()
p1c = data['Pclass'].value_counts()[1]/all_pc.astype(float) * 100
print p1c.round(2)

answer3 = str(p1c.round(2))
print  answer3
f = open('answer3.txt', 'w')
f.write(answer3)
f.close()

3    491
1    216
2    184
Name: Pclass, dtype: int64
24.24
24.24

In [98]:
mean_age = data['Age'].mean()
median_age = data['Age'].median()
print np.round(mean_age,2)
print median_age
answer4 = str(np.round(mean_age,2)) +' '+ str(median_age)
print  answer4
f = open('answer4.txt', 'w')
f.write(answer4)
f.close()

29.7
28.0
29.7 28.0

In [97]:
corr = np.corrcoef(data['SibSp'], data['Parch'])[0][1]
answer5 = str(corr.round(2))
print  answer5
f = open('answer5.txt', 'w')
f.write(answer5)
f.close()

0.41

In [87]:
train_title = [i.split(" ")[2].strip() for i in data["Name"]]
data["Title"] = pd.Series(train_title)
data["Title"].head()

PassengerId
1       John
2      Laina
3    Jacques
4    William
5      James
Name: Title, dtype: object

In [96]:
femalename = data["Title"][data['Sex']=='female'].value_counts().index[0]
f = open('answer6.txt', 'w')
f.write(femalename)
f.close()

In [100]:
data["Title"][data['Sex']=='female'].value_counts()

William      22
John         12
George        9
Thomas        6
Albert        5
Alfred        5
Frederick     5
Henry         4
Karl          4
Samuel        4
Mary          4
Ernest        4
Edward        4
Johan         3
Peter         3
Charles       3
Anna          3
Arthur        3
Ellen         2
Sinai         2
Elizabeth     2
Dickinson     2
Michel        2
James         2
Harry         2
Mr.           2
Frank         2
Robert        2
Marion        2
David         2
             ..
Francesco     1
Elisabeth     1
Viljo         1
Petco         1
Nikola        1
Agnes         1
Spencer       1
Ingeborg      1
Harold        1
Jeremiah      1
Olof          1
Lawrence      1
Youssef       1
Eva           1
Urho          1
Henriette     1
Svend         1
Ambrose       1
Alexander     1
Engelhart     1
Marija        1
Hans          1
Carl          1
Katherine     1
August        1
Laina         1
Sigvard       1
Lalio         1
Sigrid        1
Manent,       1
Name: Title, Length: 200, dtype: int64

In [101]:
f = open('answer6.txt', 'w')
f.write('Mary')
f.close()