In [1]:
import pandas as pd
import numpy as np

In [2]:
dt = pd.read_csv('illiteracy.csv', sep='\t')
dt.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [5]:
dt.corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [2]:
dt = pd.read_csv('water.csv', sep='\t')
dt.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [3]:
dt.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [4]:
dt.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [5]:
dt_south = dt[dt['location']=='South']
dt_north = dt[dt['location']=='North']

In [6]:
print dt_south.corr()
print dt_north.corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000
           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [7]:
def Metus_cor(a,b,c,d):
    return (a*d-b*c)/float(np.sqrt((a+b)*(a+c)*(d+b)*(c+d)))
Metus_cor(239,203,515,718)

0.10900237458678963

In [10]:
a = 239
b = 203
c = 515
d = 718
n = a+b+c+d
stat = n*(Metus_cor(a,b,c,d)**2)
print n
print stat

1675
19.9015420898

In [11]:
from scipy.stats import chi2_contingency

In [14]:
obs = np.array([[a,b],[c,d]])
chi2, p, dof, ex = chi2_contingency(obs)
print 'stat=',chi2 #значение статистики
print 'p=', p #достигаемый уровень значимости
print 'dof=', dof #число степеней свободы
print 'ex=', ex #ожидаемые частоты обытий

stat= 19.40753078854304
p= 1.0558987006638725e-05
dof= 1
ex= [[198.96597015 243.03402985]
 [555.03402985 677.96597015]]

In [15]:
male = a/float(a+c)
female = b/float(b+d)
print male
print female

0.316976127321
0.220412595005

In [18]:
import scipy
def proportions_confint_diff_ind(male, female, n1, n2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)   
    p1 = male
    p2 = female
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)
    
    return (left_boundary, right_boundary)
n1 = a+c
n2 = b+d
print "confidence interval: [%f, %f]" % proportions_confint_diff_ind(female, male, n2, n1)

confidence interval: [-0.139222, -0.053905]

In [19]:
from statsmodels.stats.weightstats import *
from statsmodels.stats.proportion import proportion_confint

In [20]:
def proportions_diff_z_stat_ind(male, female, n1,n2): #вычисление значения z-статистики
    n1 = n1
    n2 = n2   
    p1 = male
    p2 = female
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

def proportions_diff_z_test(z_stat, alternative = 'two-sided'): # вычисление уровня значимости
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [21]:
z_stat = proportions_diff_z_stat_ind(male, female, n1,n2)
print z_stat
print proportions_diff_z_test(z_stat, alternative = 'two-sided')

4.46111444482329
8.153453089576601e-06

In [22]:
obs = np.array([[197, 111, 33],[382, 685, 331],[110,342, 333]])
chi2, p, dof, ex = chi2_contingency(obs)
print 'stat=',chi2 #значение статистики
print 'p=', p #достигаемый уровень значимости
print 'dof=', dof #число степеней свободы
print 'ex=', ex #ожидаемые частоты обытий

stat= 293.68311039689746
p= 2.4964299580093467e-62
dof= 4
ex= [[ 93.08597464 153.74722662  94.16679873]
 [381.6251981  630.318542   386.0562599 ]
 [214.28882726 353.93423138 216.77694136]]

In [24]:
n = obs.sum()
n

2524

In [26]:
kramer = np.sqrt(stat/(n*2))
kramer

0.06278901810298172