In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('AUCs.csv', sep='\t')

In [3]:
df.head()

                Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0           adult (sample)  0.763   0.768    0.771      0.798
1            breast cancer  0.599   0.591    0.590      0.569
2  breast cancer wisconsin  0.954   0.971    0.968      0.967
3                      cmc  0.628   0.661    0.654      0.657
4               ionosphere  0.882   0.888    0.886      0.898

In [4]:
C4_5 = df['C4.5']
C4_5_m = df['C4.5+m']
C4_5_cf = df['C4.5+cf']
C4_5_m_cf = df['C4.5+m+cf']
clf_list = list([C4_5,C4_5_m,C4_5_cf,C4_5_m_cf])

In [25]:
from itertools import *
from scipy import stats
from statsmodels.stats.descriptivestats import sign_test
from statsmodels.stats.weightstats import zconfint
dt_mas = list()
for clf1, clf2 in combinations(clf_list, 2):
    stat, p = stats.wilcoxon(clf1 - clf2)
    dt_mas.append([clf1.name, clf2.name, stat, p])
    print clf1.name, clf2.name, '  stat=',stat, '   p=', p

C4.5 C4.5+m   stat= 6.5    p= 0.01075713311978963
C4.5 C4.5+cf   stat= 43.0    p= 0.861262330095348
C4.5 C4.5+m+cf   stat= 11.0    p= 0.015906444101703374
C4.5+m C4.5+cf   stat= 17.0    p= 0.046332729793395394
C4.5+m C4.5+m+cf   stat= 22.0    p= 0.3278256758446406
C4.5+cf C4.5+m+cf   stat= 10.0    p= 0.022909099354356588

In [19]:
for clf1, clf2 in combinations(clf_list, 2):
     print clf1.name, ' ', clf2.name, ' ', (clf1-clf2).mean()

C4.5   C4.5+m   -0.0155
C4.5   C4.5+cf   -0.00385714285714
C4.5   C4.5+m+cf   -0.0222857142857
C4.5+m   C4.5+cf   0.0116428571429
C4.5+m   C4.5+m+cf   -0.00678571428571
C4.5+cf   C4.5+m+cf   -0.0184285714286

In [27]:
df = pd.DataFrame(data=dt_mas,columns=['clf_1', 'clf_2', 'stat', 'p'])
df

     clf_1      clf_2  stat         p
0     C4.5     C4.5+m   6.5  0.010757
1     C4.5    C4.5+cf  43.0  0.861262
2     C4.5  C4.5+m+cf  11.0  0.015906
3   C4.5+m    C4.5+cf  17.0  0.046333
4   C4.5+m  C4.5+m+cf  22.0  0.327826
5  C4.5+cf  C4.5+m+cf  10.0  0.022909

In [28]:
from statsmodels.sandbox.stats.multicomp import multipletests 
reject, p_corrected, a1, a2 = multipletests(df.p, alpha = 0.05, method = 'holm')

In [29]:
df['reject'] = reject
df['p_corrected'] = p_corrected
df

     clf_1      clf_2  stat         p  reject  p_corrected
0     C4.5     C4.5+m   6.5  0.010757   False     0.064543
1     C4.5    C4.5+cf  43.0  0.861262   False     0.861262
2     C4.5  C4.5+m+cf  11.0  0.015906   False     0.079532
3   C4.5+m    C4.5+cf  17.0  0.046333   False     0.138998
4   C4.5+m  C4.5+m+cf  22.0  0.327826   False     0.655651
5  C4.5+cf  C4.5+m+cf  10.0  0.022909   False     0.091636

In [30]:
from statsmodels.sandbox.stats.multicomp import multipletests 
reject, p_corrected, a1, a2 = multipletests(df.p, alpha = 0.05, method = 'fdr_bh') 
df['reject'] = reject
df['p_corrected'] = p_corrected
df

     clf_1      clf_2  stat         p  reject  p_corrected
0     C4.5     C4.5+m   6.5  0.010757    True     0.045818
1     C4.5    C4.5+cf  43.0  0.861262   False     0.861262
2     C4.5  C4.5+m+cf  11.0  0.015906    True     0.045818
3   C4.5+m    C4.5+cf  17.0  0.046333   False     0.069499
4   C4.5+m  C4.5+m+cf  22.0  0.327826   False     0.393391
5  C4.5+cf  C4.5+m+cf  10.0  0.022909    True     0.045818